<div id="message">
  <% messages.each do |message| %>
    <div class="media border-bottom">
      <div class="media-body">
        <h5><img class="rounded" src="<%= gravatar_url(message.user, { size: 30 }) %>" alt="">&nbsp;<%= message.user.name %></h5>
        <p><%= message.message %></p>
      </div>
    </div>
  <% end %>
</div>