<% if logged_in? %>
  <div class="container">
    <div>
      <h3>加入ギルド</h3>
      <%= render 'guilds/guilds', guilds: @join_guilds %>
    </div>
    <div>
      <h3>おすすめギルド</h3>
      <%= render 'guilds/guilds', guilds: @favorite_guilds %>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center top-group">
    <div class="top col-8">
      <h1>ギルドを設立して個人から組織へ</h1>
      <p>今まで個人での活動をギルドを作り複数人で行うことにより、問題解決能力、クオリティーを高めもう一つ上のステップへ導きます。
      ギルドには様々な機能があり、使い方次第でギルドの在り方がグッと高まるでしょう。</p>
      <p class="text-center">
      <%= link_to "Guildsに登録", signup_path, class: 'btn' %>
      </p>
    </div>
  </div>
  
  <div class="explanation">
    <div class="row explanation-guilds">
      <div class="col-12">
        <h3>Guildsで出来ること</h3>
      </div>
      <div class="col-md-6">
        <div class="explanation-image">
          <!--<img src="/var/www/guilds/current/app/assets/images/guilds-top-image.jpg" alt=""> !-->
          <%= image_tag 'guilds-top-image.jpg' %>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h4>ギルド外のユーザーへサービスの提供</h4>
          <p>Guildsではギルドに依頼をすることができます。ユーザーからの依頼を受けサービスを提供することができます。</p>
        </div>
        <div>
          <h4>ギルドブログで情報発信</h4>
          <p>ギルド内でブログを書くことができ、有益な情報・趣味・活動などをブログに書き情報発信することができます。</p>
        </div>
        <div>
          <h4>ギルド内でコミュニケーション</h4>
          <p>ギルドチャットを使うことでギルド内でコミュニケーションをとることができます。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
<% end %>