// Place all the styles related to the guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.master-icon{
  color: #FFCC33;
}


.guild-list-box{
  padding: 20px;
  margin-bottom: 20px;
  font-family: Georgia;
  background-color: #FFF;
  border-radius: 10px;
}

.guild-list-title a{
  color: #666;
  text-decoration: none;
  font-size: 0.8em;
}

.guild-list-content{
  padding-left: 20px;
}

.guild-list-content p{
  margin-bottom: 5px;
}

.guild-list-tag{
  padding-left: 0;
}

.guild-list-tag li{
  display: inline-block;
  margin-rigt: 10px;
}

.guild-list-user{
  border-radius: 50px;
}


/* _navbar */
.menu-bar{
  background-color: #333;
}

.menu-bar a{
  text-decoration: none;
  color: #FFF;
}

.guildpage-name{
  font-size: 1.8em;
  margin-left: 50px;
}

#nav {
  overflow-x: auto;
  background: fff;
}

#nav::-webkit-scrollbar {
  display: none;
 }

#nav ul {
  display: flex;
  padding: 12px;
  width: 100%;
  list-style: none;
  margin-bottom: 0;
}

#nav li{
  width: 180px;
  text-align: center;
  margin-right: 30px;
}

.menu{
  text-decoration: none;
  color: #FFF;
  font-size: 1.3em;
}

#nav ul > li {
  white-space: nowrap;
}

.nav-icon{
  color: #FFF;
  
}




.build-btn{
  text-align: right;
  margin-top: 50px;
  margin-right: 20px;
}

.heading{
  font-size: 1.5em;
  margin-bottom: 30px;
}

.media{
  margin-bottom: 20px;
  padding: 15px;
}

.media a{
  font-size: 1em;
  color: #666;
  text-decoration: none;
}

.media:hover .guild-name{
  color: #FF8856;
}

.media li{
  font-size: 1.2em;
}

.media p{
  margin-bottom: 5px;
  margin-left: 40px;
  display: inline-block;
  font-size: 1.2em;
}



/* guilds/search */
.search-guild-tag{
  margin-top: 50px;
  border: 2px solid;
  border-color: #673bb6;
  border-radius: 10px;
  padding: 20px;
  background-color: #EEE;
}

.search-guild-tag h5{
  border-bottom: 2px solid;
  border-color: #673BB7;
  margin-bottom: 20px;
}

#search{
  border: 2px solid;
  border-color: #673BB7;
  border-radius: 10px;
  margin: 50px 0;
  padding: 20px;
  background-color: #EEE;
}

#search-box{
  margin-bottom: 10px;
}

.search-label{
  display: block;
}

.search-radio-button{
  margin-left: 30px;
}

.search-border{
  margin-bottom: 10px;
  border-bottom: 2px solid;
  border-color: #999;
}


@media screen and (max-width:750px){
  .search-textfield{
    width: 70%;
    display: inline;
    border-radius: 30px;
  }
  
  .search-submit{
    width: 20%;
    border-radius: 30px;
  }
  
  label{
    display: block;
  }
}

@media screen and (min-width:751px){
  .search-textfield{
    width: 70%;
    display: inline;
    border-radius: 30px;
  }
  
  .search-submit{
    width: 18%;
    border-radius: 30px;
  }
}


/*guild/index */
#side-nav{
  min-height: 100vh;
  background-color: #3e3d3d;
  color: #FFF;
}

#sidebar-user-menu a{
  color: #FFF;
  text-decoration: none;
}

#guild-index-approvals{
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}


@media screen and (max-width:1100px){
  #guilds-main{
    margin-left: 20px;
  }
  
  #side-nav{
    padding-right: 0;
  }
  
  #sidebar-user-top h5{
    display: none;
  }
  
  #sidebar-user-top p{
    display: none;
  }
  
  #sidebar-user-top-icon{
    margin-top: 50px;
    text-align: center;
  }
  
  #sidebar-user-icon{
    max-width: 50px;
  }
  
  .sidebar-user-menu{
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
  
  .sidebar-user-menu span{
    display: none;
  }
  
  .sidebar-user-menu li{
    margin-top: 50px;
    font-size: 26px;
  }
}

@media screen and (min-width:1101px){
  #guilds-main{
    margin-left: 50px;
  }
  
  #sidebar-user-top{
    margin: 80px 30px 50px 30px;
    padding: 20px;
    background-color: #666;
    border-radius: 10px;
  }
  
  #sidebar-user-top-icon{
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }
  
  #sidebar-user-top-content{
  
  }
  
  #sidebar-user-top-content p{
    margin-bottom: 5px;
  }
  
  .sidebar-user-menu{
    list-style: none;
  }
  
  .sidebar-user-menu li{
    margin-bottom: 30px;
    font-size: 20px;
  }
}




/*guild/show */
#img-box{
  text-align:center;
}

#guild-img{
  width: 100%;
  height: 400px;
  object-fit: cover
}

@media screen and (max-width:750px){
  #guild_img{
    max-width: 100%;
    height: 300px;
  }
}

.guild-info{
  padding-top: 30px;
  border-bottom: 2px solid;
  border-color: #222;
  background-color: #3e3d3d;
}

@media screen and (max-width:750px) {
  #guild-status{
    margin: 10px 30px 30px 30px;
    color: #EEE;
  }
}

@media screen and (min-width:751px) {
  #guild-status{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10%;
    color: #EEE;
  }
}


.guild-status{
  background-color: #999;
  padding: 20px;
  border-radius: 10px;
}

.no-favorite a{
  color: #EEE;
  background-color: #9057FF;
  border-radius: 10px;
  border-bottom: 2px solid;
  border-color: #666;
  text-decoration: none;
  padding: 5px;
}

.no-favorite a:hover{
  border-bottom: 0 solid;
  background-color: #A16EFF;
}

.favorite a{
  padding: 5px;
  color: #DDD;
  background-color: #555555;
  border-radius: 10px;
  border-bottom: 2px solid;
  border-color: #666;
  text-decoration: none;
}

.favorite a:hover{
  border-bottom: 0 solid;
  background-color: #666666;
}

#guild-content{
  color: #EEE;
  margin: 30px;
}

.guild-content{
  background-color: #999;
  border-radius: 10px;
  padding: 20px;
}


#top-newslist{
  background-color: #3e3d3d;
  border-bottom: 2px solid;
  border-color: #222;
  color: #FFF;
  padding: 20px 50px;
}

.add-news{
  float: right;
  margin-right: 30px;
}

.top-newslist{
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
}

.top-newslist::-webkit-scrollbar {
  height: 14px; /* スクロールバーの高さ */
}
 
.top-newslist::-webkit-scrollbar-thumb {
  background: #9a75dd; /* ツマミの色 */
  border-radius: 7px; /* ツマミ両端の丸み */
}
 
.top-newslist::-webkit-scrollbar-track {
  background: #dfceff; /* トラックの色 */
  border-radius: 7px; /* トラック両端の丸み */
}

.top-newslist-content{
  padding: 15px;
  margin-bottom: 20px;
  background-color: #999;
  border-radius: 10px;
}



#top-bloglist{
  padding: 10px 50px;
  background-color: #3e3d3d;
  border-bottom: 2px solid;
  border-color: #222;
  color: #FFF;
}

.box{
  display: flex;
  width: 100%;
  height: 280px;
  overflow-x: scroll;
}

.box::-webkit-scrollbar {
  height: 14px; /* スクロールバーの高さ */
}
 
.box::-webkit-scrollbar-thumb {
  background: #9a75dd; /* ツマミの色 */
  border-radius: 7px; /* ツマミ両端の丸み */
}
 
.box::-webkit-scrollbar-track {
  background: #dfceff; /* トラックの色 */
  border-radius: 7px; /* トラック両端の丸み */
}

.boxlist-blog{
  width: 250px;
  margin: 5px;
  background-color: #999;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.boxlist-title h4{
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
  margin-bottom: 10px;
}

.boxlist-title a{
  color: #FFF;
}

.boxlist-content p{
  font-size: 1em;
  color: #DDD;
}

.bloglist-footer{
  position: absolute;
  bottom: 15px;
}

.user-icon{
  border-radius: 50px;
}


#top-memberlist{
  padding: 10px 50px;
  background-color: #3e3d3d;
  color: #FFF;
}

#top-memberlist .media{
  background-color: #999;
  border-radius: 10px;
  margin: 20px auto;
}

#top-memberlist .media h3{
  color: #FFF;
}

#top-memberlist .media p{
  color: #DDD;
}

#top-memberlist .media .online{
  color: #66FF33;
}

/*guild/info */
#guild-news-create{
  border: 2px solid;
  border-color: #999;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

#guild-news-create textarea{
  resize: none;
}

#guild-news-submit{
  display: grid;
  justify-content: right;
  margin-right: 10px;
}

#guild-news h3{
  border-bottom: 2px solid;
  border-color: #999;
  margin-bottom: 30px;
}

.guild-news-list{
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  border-color: #999;
}

.guild-news-date{
  margin-top: 15px;
  margin-left: 15px;
}

.guild-member-join-content{
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
}

.guild-member-join-content p{
  display: block;
}

.guild-member-join-content form{
  display: inline;
}

.guild-member-join-submit{
  margin-left: 40px;
}


/* guild/blog */
.parent{
  font-size: 1.3em;
  padding-top: 5px;
}
.parent ul{
  display: none;
  font-size: 0.8em;
}
.active {
  
}
.active ul {
  display: block;
}

.blog-menu{
  margin: auto;
}


.wrap{
  min-height: 100vh;
}


.blog-show-wrap{
  background-color: #FFF;
  padding: 20px 30px;
}

.blog-show-content{
  margin: 0 10px;
}

.blog-wrap{
  margin-bottom: 20px;
}

.blog-title a{
  color: #666;
  text-decoration: none;
}

.blog-title a:hover{
  color: #FF9933;
}

.blog-content{
  border-bottom: 2px solid;
  border-color: #888;
  padding-bottom: 10px;
}


.dropdown {
  margin: 0 0 0 auto;
  position: relative;
  float: right;
}
.dropdown__btn {
  display: block;
  width: 1.5em;
  padding: 0.2em;
  background: none;
  border: 0;
}
button:focus{
  outline: 0;
}
.dropdown__btn.is-open::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.dropdown__btn.is-open + .dropdown__body {
  display: block;
  z-index: 5;
}

.dropdown__body {
  display: none;
  width: 150px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  right: 0px;
}
.dropdown__list {
  margin: 0;
  padding: 0;
}
.dropdown__item {
  display: block;
}
.dropdown__item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #444;
}
.dropdown__item-link:hover {
  background: #fbfbfb;
}


@media screen and (max-width:750px) {
  
  .blog-content p{
    margin-bottom: 5px;
  }
  
  #tag-list a{
    color: #FFF;
  }
  
  /*スライドメニュー　*/
  #menu {
    position: fixed;
    height: 70%;                         /* メニューの縦範囲 */
    width: 350px;                         /* メニューの横範囲 */
    max-width: 350px;                     /* メニューの横上限 */
    background-color: #333;            /* メニューの背景色 */
    top: 250px;                            /* メニューの表示位置縦 */
    left: 0;                             /* メニューの表示位置横 */
    z-index: 10;                          /* メニューの重なり位置 */
    overflow: auto; 
  }
  
  #menu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  #menu::-webkit-scrollbar-thumb {
    background: #ff9802;
    border-radius: 5px;
  }
  
  #menu::-webkit-scrollbar-track {
    background: #ffcc80;
    border-radius: 5px;
  }
  
  #menu li {
    padding: 12px;                        /* 余白 */
    color: #EEEEEE;                       /* 文字色 */
    border-bottom: 1px solid #EEEEEE;     /* 区切線 */
    list-style-type: none;                /* リストデザイン無 */
  }
  
  /*====== 右に消えるアニメ ======*/
  #menu.SlideOut {
  animation: SlideOut 0.5s forwards;
  }
  @keyframes SlideOut{
    from {
    transform: translateX(0px);
    }
    to {
    transform: translateX(-350px);
    }
  }
  
  /*====== 左に現れるアニメ ======*/
  #menu.SlideIN {
  animation: SlideIN 0.5s forwards;
  }
  @keyframes SlideIN{
    from {
    transform: translateX(-350px);
    }
    to {
    transform: translateX(0px);
    }
  }
  
  /*=== ヘッダーデザイン ===*/
  #header{
    /*レイアウトCSS*/
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width:100%;
    z-index: 5;
    
    /*レイアウトCSS*/
    display: flex;
    align-items: center;
    background:#333;
    color:#fff;
    text-align: center;
    padding: 20px;
  }
  
  /* ハンバーガーボタン */
  #menu_btn .openbtn {
            /* 固定表示 */
             /* 背景色 */
    cursor: pointer;            /* マウスカーソル指 */
    width: 100px;                /* 高さ */
    height:60px;                /* 横幅 */
    border-radius: 5px;         /* 角を丸める */
                /* 表示位置上 */
  }
  
  
  /* span (1)番目の要素に適用 */
  .openbtn span:nth-of-type(1) {
      top:15px;
  }
  
  /* span (2)番目の要素に適用 */
  .openbtn span:nth-of-type(2) {
      top:23px;
  }
  
  /* span (3)番目の要素に適用 */
  .openbtn span:nth-of-type(3) {
      top:31px;
  }
  
  /*=== コンテンツの開始位置 ===*/
  main {
        padding-top: 100px;
  }
}

@media screen and (min-width:751px) {
  .main{
    margin: 0 30px;
  }
  
  #blog-wrap{
    margin-top: 50px;
  }
  
  .blog-content p{
    margin-bottom: 5px;
  }
  
  .blog-inline{
    display: inline;
    margin-right: 100px;
    margin-bottom: 30px;
  }
  
  
  #menu_btn{
    display: none;
  }
  .side-menu{
    padding: 0 auto;
    min-height: 100vh;
    background-color: #333;
  }
  
  .side-menu ul{
    list-style: none;
  }
  
  .side-menu li{
    color: #CCCCFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .side-menu li:hover{
    overflow: visible;
  }
  
  .side-menu li:hover{
    color: #FFF;
  }
  
  .side-menu .parent{
    width: 100%;
  }
  
  .side-menu a{
    color: #CCCCFF;
    text-decoration: none;
  }
  
  .side-menu li a:hover{
    color: #FFF;
  }
  
  .parent ul{
    padding-left: 5%;
  }
  
  #tag-list{
    margin-left: 5%;
    padding: 0;
    font-size: 0.8em;
  }
}


/* guild/gallery */

#gallery-nav{
  background-color: #333;
  padding: 10px 0;
  border-top: 2px solid;
}

#gallery-nav p{
  display: inline;
  margin-left: 50px;
  color: #FFF;
}

.photo-wrap{
  padding-left: 5%;
}

@media screen and (max-width: 750px){
  #gallery-nav a{
   margin-left: 60%;
  }
  
  .photo-content{
    width: 47%;
    height: 260px;
    display: inline-block;
  }
  
  .photo-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 751px){
  #gallery-nav a{
   margin-left: 80%;
  }
  
  .photo-content{
    width: 23%;
    height: 260px;
    display: inline-block;
  }
  
  .photo-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/*quest */
.new-quest-btn{
  text-align: right;
  margin-top: 50px;
  margin-right: 5%;
}