// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#message-area{
  width: 100%;
}

#message{
  background-color: #d7ccc8;
  overflow: auto; 
  width: 100%; 
  height: 380px;
  margin: 15px auto;
  font-size: 14px;
}

#message::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#message::-webkit-scrollbar-thumb {
  background: #ff9802;
  border-radius: 5px;
}

#message::-webkit-scrollbar-track {
  background: #ffcc80;
  border-radius: 5px;
}