// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.timeline #blog-wrap{
  margin-top: 0;
}

.timeline-count p{
  margin-bottom: 10px;
  border-bottom: 2px solid;
  border-color: #888;
}