// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-group{
  background-color: #616161;
  background-image: image_url("topimage.jpg");
  background-size: 80% 100%;
  background-size: cover;
  background-position: right 10% bottom 50%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.row{
  margin-right: 0;
}

.top h1{
  padding-top: 80px;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 40px;
  text-align: center;
}

.top p{
  color: #DDD;
  font-size: 20px;
  margin-bottom: 30px;
}

.top .btn{
  background-color: #A1887F;
  color: #FFF;
  margin-bottom: 50px;
}

.explanation{
  margin-top: 100px;
}

.explanation h3{
  text-align: center;
  font-size: 40px;
}

.explanation h4{
  font-size: 1.3em;
}